@import 'src/styles/color';
@import 'src/styles/shadow';
@import 'src/styles/font_style';

.header {
  background: $white;
  box-sizing: border-box;
  width: 100%;
  padding: 16px;
  border-bottom: 1px solid rgba(188, 196, 200, 0.25);
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;

  span {
    @include modalFormTitle;
    color: #5d6472;
  }

  svg {
    cursor: pointer;
  }
}