@import '../../../../styles/color';
.container {
    //position: relative;
    //width: 100%;
    //max-height: 66px;
    //height: 66px;
    min-height: 42px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 11px;
    position: sticky;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 999;
    background-color: #F7FBFE;
    border-bottom: 1px solid #E0E7F2;
    border-top:1px solid #E0E7F2;
    border-right: 1px solid #E0E7F2;
    //overflow-y:scroll;
}

.childrenHolder{
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    width: 90%;
}
.itemsHolder{
    display: inline-block ;
}



.button {
    background: $blue;
    //position:absolute;
    //top: 50%;
    //left: 50%;
    border: 1px solid #e0e7f2;
    border-radius: 5px;
    color: $white;
    //width: 100%;
    width: 127px;
    max-height: 43px;
    padding: 10px 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    //-ms-transform: translate(-50%, -50%);
    //transform: translate(-50%, -50%)



    &__disable {
        cursor: default;
        background-color: $grey;
    }
}

.buttonWrapper{
    align-items: center;
    //justify-content: center;
    //position: absolute;
    //height: 66px;
    //width: 10%;
    display: flex;
    justify-content: center;
}