@import '../../../styles/color';
@import '../../../styles/main';

.container {
  //width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
}

.filterSidebar {
  position: relative;
  z-index: 1;
  flex-shrink: 0;
  background: linear-gradient(90deg, #ffffff 3.46%, #f5fafd 111.79%);
  border: 1px solid #e0e7f2;
  width: 100%;
  height: 100%;
  &__button {
    background: #0183F5;
    border: 0;
    border-radius: 5px;
    padding: 12px 32px;
    color: #fff;
    margin: auto auto;
  }
  &__buttonDisabled {
    background: #0183F5;
    border-radius: 5px;
    padding: 12px 32px;
    margin: auto auto;
    background: none;
    border: 1px solid #BCC4C8;
    color: #BCC4C8;
    cursor: default;
  }
  &__searchWrapper {
    width: 100%;
    position: relative;
    margin-top: 15px;
  }
  .filterSidebarContainer {
    display: flex;
    flex-direction: column;
    align-items: self-start;
    justify-content: flex-start;
    height: 100%;
    &__wrapper {
      margin: 0 24px;
      height: calc(100% - 68px);
    }
  }
  .footerSidebarContainer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    //position: absolute;
    height: 68px;
    //left: 0;
    //bottom: 0;
    border-top: 1px solid #e0e7f2;
    border-right: 1px solid #e0e7f2;
    background: linear-gradient(90deg, #ffffff 3.46%, #f5fafd 111.79%);
    z-index: 15;
    //flex-direction: column;
    //align-items: self-start;
    //justify-content: flex-start;
    //margin: 0 -24px;
  }
  .resizeController {
    position: absolute;
    width: 4px;
    right: -2px;
    top: 0;
    bottom: 0;
    cursor: col-resize;
    z-index: 20;
    &:hover{
      background-color: #E0E7F2;
    }
  }
  .collapseController {
    position: absolute;
    background-color: #E0E7F2;
    top: 50%;
    transform: translateY(-50%);
    right: -5px;
    width: 10px;
    height: 64px;
    cursor: pointer;
    border-radius: 12px;
    z-index: 25;
    display: flex;
    align-items: center;
    justify-content: center;
    &:hover{
      background-color: #1e95fe;
    }
    &.isCollapsed {
      right: -10px;
      border-radius: 0 5px 5px 0;
      >* {
        transform: rotate(180deg);
      }
    }
    >* {
      width: 12px;
      height: 12px;
    }
  }
}
