@import '../../../styles/color';

.inputRadio {
  display: flex;
  width: 14px;
  height: 14px;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-size: 16px 16px;
  background-position: center center;
  border-radius: 50%;
  cursor: pointer;
  outline: none;
  //background-image: url('./unchecked.svg');
  border: 1px solid #bcc4c8;
  flex-shrink: 0;

  &--checked {
    border: 1px solid #0287fe;
    background-image: url('checked.svg');
  }

  &__disabled {
    background-color: #ccc;
    background-image: none;
    border: 1px solid #bcc4c8;
  }
  &__error {
    background-color: #ccc;
    background-image: none;
    border: 1px solid $red;
  }
}
