$black: #333333;
$black-text: #5d6472;
$black-2: #000000;
$grey: #c8c9c7;
$grey-2: #c5c8d3;
$grey-3: #eaebea;
$grey-header-chedule: #f7fbfe;
$grey-header-chedule-border: #e0e7f2;
$white: #ffffff;
$red: #f9395c;
$blue: #006fcf;
$secondary-text-color: #5D6472;
$blue-2: #016fd0;
$blue-3: #1e95fe;
$time-line-row: #f7f8f9;
$text-in-menu: #5d6472;
$imgBlue: invert(47%) sepia(88%) saturate(2748%) hue-rotate(189deg) brightness(101%) contrast(102%); //filter: $imgBlue
$form-bg-color: #fafdff;

$grey-border: #BCC4C8;
$blue-checkbox: #3288f6;
$version: #788A9C;

$list-header:#99CDFF;
$list-item-selected: #E0F0FF;
$list-item-hover:#F1F5F9;