@import '../../../../styles/color';
.button {
  width: 32px;
  height: 31.15px;
  margin-left: auto;
  margin-right: 30px;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('exit.svg');
  cursor: pointer;
}
