@import '../../../../styles/color';
@import '../../../../styles/shadow';
@import '../../../../styles/font_style';

.container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1999;
  //width: 100%;
  //height: 100vh;
  //display: flex;
  //align-items: center;
  //justify-content: space-around;
  background: rgba(200, 208, 223, 0.4);
  outline: rgba(255, 255, 255, 0);
  //backdrop-filter: blur(1px);
}
.formWrapper {
  width: 400px;
  z-index: 2000;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fafdff;
  @include borderStandart;
  border-radius: 5px;
  @include boxShadowStandart;
}
.header {
  position: relative;
  width: 100%;
  // height: 54px;
  background: $white;
  border-bottom: 1px solid rgba(188, 196, 200, 0.25);
  display: flex;
  align-items: center;
  span {
    margin-left: 16px;
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    padding: 16px 0;

    /* identical to box height */
    color: #5d6472;
  }
  svg {
    margin-left: auto;
    margin-right: 20px;
    cursor: pointer;
  }
}

.type {
  display: block;
  justify-content: center;
  border-bottom: 1px solid rgba(188, 196, 200, 0.25);
  @include standart;
  color: #5d6472;
  &:not(:has(.typeWrapper1)) {
    padding-bottom: 30px;
  }
  padding: 0px 15px 0px 15px;
}
.typeWrapper1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8px 0 38px;
  gap: 10px;
  text-align: center;
  width: 100%;
  @include standart;
  &Content {
    @include textStandard12;
    font-size: 14px;
    font-weight: 500;
    color: #5d6472;
    line-height: 17px;
  }
}
.typeWrapper2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 10px;
  text-align: center;
  padding-top: 30px;
  width: 95%;
  &Content {
    @include textStandard12;
    font-size: 14px;
    color: #333333;
    font-weight: 500;
    line-height: 17px;
  }
}
.data {
  width: 100%;
  height: 111px;
  border-bottom: 1px solid rgba(188, 196, 200, 0.25);
  display: flex;
  align-items: center;
  @include textStandard12;
  color: #5d6472;
}
.dataStart {
  margin-left: 30px;
}
.checkBoxWrap {
  display: flex;
  align-items: center;
  margin-top: 10px;
  height: 13px;
  cursor: pointer;

  span {
    display: flex;
    align-items: center;
    margin-left: 5px;
    padding-bottom: 2px;
    user-select: none;
  }
  div {
    margin-bottom: 3px;
  }
}
.delimeter {
  margin-left: 15px;
  margin-bottom: 10px;
}
.dataName {
}
.dataEnd {
  margin-left: 15px;
}
.dataStartTMWrapper {
  width: 101px;
  height: 33px;
  background: #ffffff;
  border: 1px solid rgba(188, 196, 200, 0.25);
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.agents {
  @include standart;
  width: 100%;
  height: 90px;
  border-bottom: 1px solid rgba(188, 196, 200, 0.25);
  color: #5d6472;
}

.footer {
  width: 100%;
  height: 83px;

  display: flex;
  align-items: center;
  justify-content: center;
  background: $white;
  button {
    @include standart;
    font-size: 14px;
    line-height: 20px;
  }
}
.buttonWrap1 {
  width: 108px;
  height: 44px;
}
.buttonWrap2 {
  width: 108px;
  height: 44px;
  margin-left: 20px;
}
