@import '../../../../styles/color';

.inputWrapper {
  width: 100%;
  height: 50px;
  position: relative;
  margin: 0 auto;



  &::before {
    content: '';
    background-image: url('../assets/iconSearch.svg');
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: center;
    background-size: 18px;
    position: absolute;
    z-index: 5;
    left: 5px;
    top: 43%;
    width: 18px;
    height: 18px;
    transform: translateY(-50%);
  }

  &__loading {
    &::before {
      position: absolute;
      top: 30%;
      left: 5px;
      content: ' ';
      display: block;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      border: 3px solid $grey;
      border-color: $grey transparent $grey transparent;
      animation: loading 1.2s linear infinite;
      background: none;
    }
  }
}

.input {
  width: 100%;
  height: 40px;
  background-color: $white;
  color: $black-2;
  outline: none;
  font-family: 'Helvetica Neue', serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  padding: 16px 84px 11px 30px;
  position: relative;
  border: none;
  box-shadow: 0px 22px 6px rgba(229, 235, 240, 0.01), 0px 14px 6px rgba(229, 235, 240, 0.06),
    0px 8px 5px rgba(229, 235, 240, 0.21), 0px 4px 4px rgba(229, 235, 240, 0.36), 0px 1px 2px rgba(229, 235, 240, 0.42),
    0px 0px 0px rgba(229, 235, 240, 0.43);
  border-radius: 5px;
  margin: 0 auto;

  &::placeholder {
    color: #a1a2a2;
    font-weight: 500;
  }

  &__btn {
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 25px;
    height: 25px;
    border: none;
    cursor: pointer;
    background-color: $white;
    border-radius: 4px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 55px;
    margin-top: -2px;
    outline: none;
  }

  &__btn_active{
    background-color: #1E95FE;
}

  &__btnAgentName {
    background-image: url('../assets/agentNameBlue.svg');
    width: 25px;
    height: 25px;
  }

  &__btnBU {
    background-image: url('../assets/buIconBlue.svg');
    width: 20px;
    height: 20px;
  }

  &__btnSite {
    background-image: url('../assets/siteIconBlue.svg');
    width: 20px;
    height: 20px;
  }

  &__btnTeam {
    background-image: url('../assets/teamIconBlue.svg');
    width: 20px;
    height: 20px;
  }

  &__btnAgentId {
    background-image: url('../assets/agentIdIconBlue.svg');
    width: 20px;
    height: 20px;
  }

  &__btnActivities {
    background-image: url('../assets/activitiesBlue.svg');
    width: 20px;
    height: 20px;
  }

  &__settingsBtn {
    //background-image: url('../assets/settingsIconInactive.svg');
    background-image: url('../assets/settingsIcon.svg');
    width: 25px;
    height: 25px;
    right: 10px;


    //padding-left: 28px;

    &--inactive{
      background-image: url('../assets/settingsIconInactive.svg');
    }

    &:before {
      content: '';
      width: 1px;
      height: 25px;
      background-color: $grey;
      position: absolute;
      top: 0;
      left: -10px;
    }
  }


  &__btnAgentNameActive {
    background-image: url('../assets/agentNameWhite.svg');
    width: 25px;
    height: 25px;
  }

  &__btnBUActive {
    background-image: url('../assets/buIconWhite.svg');
    width: 20px;
    height: 20px;
  }

  &__btnSiteActive {
    background-image: url('../assets/siteIconWhite.svg');
    width: 20px;
    height: 20px;
  }

  &__btnTeamActive {
    background-image: url('../assets/teamIconWhite.svg');
    width: 20px;
    height: 20px;
  }

  &__btnAgentIdActive {
    background-image: url('../assets/agentIdIconWhite.svg');
    width: 20px;
    height: 20px;
  }

  &__btnActivitiesActive {
    background-image: url('../assets/activitiesWhite.svg');
    width: 20px;
    height: 20px;
  }

  &__settingsBtnActive {
    //background-image: url('../assets/settingsIconInactive.svg');
    background-image: url('../assets/settingsIconWhite.svg');
    width: 25px;
    height: 25px;
    right: 10px;


    //padding-left: 28px;
  }
  &__Active{
    background-image: url('../assets/settingsIconWhite.svg');
  }
}

@keyframes loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
